<head>
  <%= stylesheet_link_tag 'path', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'manager_video', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="right">
<!--  <h2>Your current career path you selected</h2>-->
  <%#= @current_path.first.name %>
  <%#= @current_path.first.id %>
  <%= form_tag('', :method => :get) do %>
    <h1 style="display: inline-block; margin-right: 10px">
      Change career path
    </h1>
    <% %>
    <% @current_career_path = CustomersPath.where("customer_id = ?", current_user.id) %>
    <% @path = @current_career_path.first.careerpath_id %>
    <%= select_tag "careerpath_id", options_for_select(@options = Careerpath.all.map { |a| [a.id, a.id] },:selected => @option), :onchange => "this.form.submit();", :include_blank => false %>
  <% end %>

  <div class="show_lo">
    <%= form_tag('', url: paths_path) do %>
      <% @list_lo_not_owner.each do |lo| %>
        <label class="container_input"><%= lo.name %>
          <%= check_box_tag "lo_id[]", lo.id%>
          <span class="checkmark"></span>
        </label>
        <br/>
        <%#= check_box_tag "lo_id[]", lo.id,type: 'input' %>
        <%#= lo.name %>
      <% end %>
  </div>
    <button onclick="myFunction()" id="submit" class="submit" type="submit">Save and View Course Recommend</button>
  <% end %>
  <div class="end">
  </div>
</div>
<script type=text/javascript>
    document.getElementsByClassName("choice").checked = false;
<!--    document.getElementsByTagName("option")[<%#=@paths %>].selected = true;-->
</script>


