<div class="user-comment">

  <div class="user-icon">
    <% if !comment.customer.avatar.nil? %>
      <%= cl_image_tag(comment.customer.avatar, :height => 100, :width => 50) %>
    <% else %>
      <%= image_tag('profile.png') %>
    <% end %>
  </div>
  <div class="user-right">
    <div class="user-name">
      <%= comment.customer.name %>
    </div>
    <div class="u-comment">
      <%= comment.content %>
    </div>
  </div>


    <div class="comment_pin">
      <% if is_author %>
    <%= link_to update_comment_pin_path(comment.id), method: :post, remote: true do %>
      <% if !comment.is_pin %>
        <i class="fa fa-check" onclick="check(this)" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-times" onclick="check(this)" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
