<head>
  <%= stylesheet_link_tag 'manager_video', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="right">
  <h1>
    Management Article
  </h1>
  <div class="search managerAccount">
    <%= form_tag search_courses_path, :html => { :onsubmit => "checkInput()" }, class: "search", method: :get do %>
      <%= text_field_tag 'q', params[:q], placeholder: "Search a Courses...", required: true,:id => 'input', autocomplete: "off" %>
      <button onclick="removeSpace()" type="submit">
        <%= image_tag("search.png") %>
      </button>
    <% end %>
  </div>
  <table>
    <tr>
      <th>Video</th>
      <th>is_Active</th>
<!--      <th>Disable</th>-->
    </tr>
    <% @article_paging.each do |article| %>
      <tr>
        <td>
          <div class="per-course">
            <div class="c-left">
              <a href="#">
                <% if !article.video.nil? %>
                  <%= cl_video_tag(article.video, :effect => "preview", :resource_type => "video") %>
                <% else %>
                  <%= image_tag('japanese.png') %>
                <% end %>
              </a>
            </div>
            <div class="c-right">
              <h2>
                <a href="#">
                  <%= article.title %>
                </a>
              </h2>
              <span><%= article.description %></span>
              <p><%= article.view_number %> view • Created at: <%= article.created_at.to_date %></p>
            </div>
          </div>
        </td>
<!--        <td style="color: black"><%#= article.is_active %></td>-->
        <td>
          <%if article.is_active%>
            <%= link_to 'Disable', deactivate_article_path(id: article), method: :post, remote: true, class: "disable" %>
          <%else%>
          <%= link_to 'Enable', deactivate_article_path(id: article), method: :post, remote: true, class: "enable" %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="paging">
    <% if @article.ids.count > 5 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>
  <div class="end">
  </div>
</div>
<script>
    function removeSpace() {
        document.getElementById('input').value =
            document.getElementById('input').value.trim();
    }

    function checkInput() {
        if (document.getElementById('input').value.trim() == "") {
            return false;
        }
        return true;
    }
</script>