<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Courseid</th>
      <th>ArticleTitle</th>
      <th>Description</th>
      <th>Tag</th>
      <th>Duration</th>
      <th>Numbercomplete</th>
      <th>Isfree</th>
      <th>Link file attach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.course_id %></td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= article.tag %></td>
        <td><%= article.duration %></td>
        <td><%= article.number_complete %></td>
        <td><%= article.is_free %></td>
        <td><%= article.link_file_attach %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
