<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Link article:</strong>
  <%= @article.link_article %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @article.tag %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @article.duration %>
</p>

<p>
  <strong>Number complete:</strong>
  <%= @article.number_complete %>
</p>

<p>
  <strong>View number:</strong>
  <%= @article.view_number %>
</p>

<p>
  <strong>Is free:</strong>
  <%= @article.is_free %>
</p>

<p>
  <strong>Is favor:</strong>
  <%= @article.is_favor %>
</p>

<p>
  <strong>Is owner:</strong>
  <%= @article.is_owner %>
</p>

<p>
  <strong>Link file attach:</strong>
  <%= @article.link_file_attach %>
</p>


<%= link_to 'Back', articles_path %>
