<p id="notice"><%= notice %></p>

<p>
  <strong>Courseid:</strong>
  <%= @article.courseID %>
</p>

<p>
  <strong>Articletitle:</strong>
  <%= @article.articleTitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @article.tag %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @article.duration %>
</p>

<p>
  <strong>Numbercomplete:</strong>
  <%= @article.numberComplete %>
</p>

<p>
  <strong>Isfree:</strong>
  <%= @article.isFree %>
</p>

<p>
  <strong>Linkfileattach:</strong>
  <%= @article.linkFileAttach %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
