<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Link article:</strong>
  <%= @article.link_article %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @article.tag %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @article.duration %>
</p>

<p>
  <strong>Number complete:</strong>
  <%= @article.number_complete %>
</p>

<p>
  <strong>Is free:</strong>
  <%= @article.is_free %>
</p>

<p>
  <strong>Link attach file:</strong>
  <%= @article.link_attach_file %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
