<head>
  <%= content_for :page_title, 'Play article' %>
  <%= stylesheet_link_tag 'watch', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="main-watch">
  <div class="watch">
    <% @article_detail.each do |article| %>

  <%= cl_video_tag(article.video, :controls => true) %>

      <div class="w-title">
        <h2>
          <%= article.title %>
        </h2>
        <p>
          <%= article.view_number %> view • <%= article.created_at.to_date %>
        </p>

      </div>
      <div class="w-description">
        <div class="w-icon">
          <%= image_tag('2.jpg') %>
        </div>
        <div class="w-author">
          <% if !@author.blank? %>
            <p> Author: <%= @author.first.name %></p>
          <% else %>

          <% end %>
          Link attach:  <%= article.link_file_attach %>
          <p>Description: <%= article.description %></p>
          <p>Level:
            <% if article.level_id.to_int == 1 %>
              beginner
            <% elsif article.level_id.to_int == 2 %>
              intermediate
            <% elsif article.level_id.to_int == 3 %>
              advanced
            <% else %>
              mixed
            <% end %>
          </p>
        </div>
      </div>
      <div class="w-information">
      </div>
      <div class="comment">
        <div class="account-input">
          <div class="user-icon">
            <%= image_tag('course_9.jpg') %>
          </div>
          <div class="user-input">
            <%= form_for(@comment, html: {class: "input_comment", role: "form", :id => "form_comment"}, url: comment_path, method: :post, remote: true) do |f| %>
              <div class="input_comment">
                <%= f.hidden_field :customer_id, value: current_user.id %>
                <%= f.hidden_field :article_id, value: article.id %>
                <%= f.text_field :content %>
                <%= f.submit %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="article_comments">
          <% if !@comment_pin.blank? %>
            <div class="user-comment" id="is_pin<%= @comment_pin.first.id %>">
              <% @comment_pin.each do |comment| %>
                <div class="user-icon">
                  <%= image_tag('course_9.jpg') %>
                </div>
                <div class="user-right">
                  <div class="user-name">
                    <%= comment.customer.name %>
                  </div>
                  <div class="u-comment">
                    <%= comment.content %> => Comment is pined
                  </div>
                </div>
                <%= link_to update_comment_pin_path(comment.id, pin_cmt: true), method: :post, remote: true do %>
                  <i class="fa fa-times" onclick="check(this)" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          <% else %>
          <% end %>

          <% @comment_user.each do |comment| %>
            <%= render "comments/comment", comment: comment %>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>
  <div class="list">
    <div class="list-video">
      <ul>
        <% @show_leftside.presence%>
        <% @list_article_right.each do |a| %>
          <li>
            <div class="l-left">
              <%= cl_video_tag(a.video) %>
            </div>
            <div class="l-right">
              <% article = CustomerArticle.where("customer_id = ? AND article_id = ?", current_user.id, a.id) %>
              <% if article.exists? %>
                <% if article.first.is_favor == true %>
                  <%= link_to update_favor_path(a.id), method: :post, remote: true do %>
                    <i style="" onclick="bookmark(this,123)" class="fa fa-heart" id="article_id<%= a.id %>" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <%= link_to update_favor_path(a.id), method: :post, remote: true do %>
                    <i style="" onclick="bookmark(this,123)" class="fa fa-heart-o" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to add_to_favor_path(a.id), method: :post do %>
                  <i style="" onclick="bookmark(this,123)" class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <div class="l-title">
                <%= link_to a.title, course_article_path(params[:course_slug], a.id) %>
              </div>
              <div class="l-view">
                <%= a.view_number %> views
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <h1>Recommend for you</h1>
    <div class="list-video">
      <ul>

      </ul>
    </div>
  </div>
</div>


<script>
    var arr = document.getElementsByTagName('li');
    var index = <%= @index_list_article.to_int %>; //8 is index of video in list
    var size = <%=  @list_article_right.count.to_int %>;
    arr[index].style.border = "1px solid #14bdee";
    arr[index].style.borderRadius = "5px";
    arr[index].style.backgroundColor = "#f2f2f0";
    document.getElementsByClassName('list-video')[0].scrollTop = index * 85;
</script>
<!--begin of get currentTime and total duration-->
<script>
    document.getElementsByTagName('video')[0].currentTime = <%= @cus_article.first.time_point %>;
    document.getElementsByTagName('video')[0].onpause = function () {
        var currentTime = this.currentTime;
        var total = this.duration;
        var calculate = (currentTime / total) * 100
        var isViewed = false
        if (calculate >= 90)
            isViewed = true
        else
            isViewed = false
        $.ajax({
            url: "/time",
            data: {"currentTime": currentTime, "isViewed": isViewed, "id": <%= params[:id] %>},
            type: "POST",
            success: function (data) {
                console.log(data);
            }
        });
    };
</script>
<!--end of get currentTime and total duration-->
<script>
    function bookmark(heart, courseID) {
        var x = heart;
        if (x.className === "fa fa-heart") {
            x.className = "fa fa-heart-o";
        } else {
            x.className = "fa fa-heart";
        }
        var app1 = new Vue({
            el: '#app1',
            mounted: function () {
                axios.get('/archive_courses/', {
                    params: {
                        num: courseID
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        });
    }
</script>

<script>
    function check(heart, courseID) {
        var x = heart;
        if (x.className === "fa fa-check") {
            x.className = "fa fa-times";
        } else {
            x.className = "fa fa-check";
        }
        var app1 = new Vue({
            el: '#app1',
            mounted: function () {
                axios.get('/archive_courses/', {
                    params: {
                        num: courseID
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        });
    }
</script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#videoElementID').bind('contextmenu', function () {
            return false;
        });
    });
</script>
</body>
