<head>
  <meta charset='utf-8'>
  <title>Course of topic</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS -->
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<% @show_leftside = true %>
<body>
<div class="right">
  <h1>
    Group: <%= @topic.name %>
  </h1>
  <div class="list-course">
    <% @courses_paging.each do |c| %>
      <div class="per-course">
        <div class="c-left">
          <% if !c.image.nil? %>
            <%= cl_image_tag(c.image) %>
          <% else %>
            <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
          <% end %>
        </div>
        <div class="c-right">
          <% if current_user.present? %>
            <% customer_course = CustomerCourse.where("customer_id = ? AND course_id = ?", current_user.id, c.id) %>
            <% if customer_course.exists? %>
              <% if customer_course.first.is_save == true %>
                <%= link_to update_archived_path(c.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark" onclick="bookmark(this,123)" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to update_archived_path(c.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to add_to_archived_path(c.id), method: :post, remote: true do %>
                <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
              <% end %>
            <% end %>
          <% else %>

          <% end %>
          <h2><%= link_to c.name, course_path(c.id) %></h2>
          <p><%= c.description %></p>
          <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id IN (?)  ", c.id) %>
          <% @author.each do |author| %>
            <p class="name"> Author: <%= author.name %></p >
            <% end %>
          <% rate = c.rate.to_f %>
          <% (1..rate).each do |i| %>
            <% if rate >= i.floor %>
              <span class="fa fa-star checked"></span>
            <% end %>
          <% end %>
          <% if rate != rate.floor %>
            <span class="fa fa-star-half-o checked"></span>
          <% end %>
          <% (1..(5 - rate.ceil)).each do %>
            <span class="fa fa-star-o checked"></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paging">
    <% if @courses.ids.count > 5 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>
  <div class="end">
  </div>
</div>
</body>

<script>
    function bookmark(bookmark, courseID) {
        var x = bookmark;
        if (x.className === "fa fa-bookmark") {
            x.className = "fa fa-bookmark-o";
        } else {
            x.className = "fa fa-bookmark";
        }
        var app1 = new Vue({
            el: '#app1',
            mounted: function () {
                axios.get('/archive_courses/', {
                    params: {
                        num: courseID
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        });
    }
</script>
