<head>
  <meta charset='utf-8'>
  <title>Course of topic</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS -->
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="right">
  <h1>
    Group: <%= @topic.name %>
  </h1>


  <div class="list-course">
    <% @courses.each do |c| %>
      <div class="per-course">
        <div class="c-left">
          <% if !c.image.nil? %>
            <%= cl_image_tag(c.image) %>
          <% else %>
            <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
          <% end %>
        </div>
        <div class="c-right">
          <h2><%= link_to c.name, course_path(c.id) %></h2>
          <p><%= c.description %></p>
          <p class="name"> Author: <%= c.author %></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paging">
    <%== pagy_nav(@pagy) %>
  </div>
  <div class="end">
  </div>
</div>
</body>
