<div class="right">
  <h1>
    Account management
  </h1>
  <div class="search managerAccount">
    <form action="#">
      <input type="text" placeholder="Search account">
      <button type="submit">
        <%= image_tag("search.png") %>
      </button>
    </form>
  </div>
  <table>
    <tr>
      <th>Account ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Created_at</th>
      <th>Disable</th>
    </tr>
    <% @customer.each do |customer| %>
      <tr>
        <td><%=customer.id%></td>
        <td><%= customer.email %></td>
        <td><%= customer.name %></td>
        <td><%= customer.created_at %></td>
        <td>
          <a href="#">Disable</a>
        </td>
      </tr>
    <% end %>

  </table>

  <div class="paging">
    <a>
      <i class="fa fa-caret-left"></i>
    </a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a>
      <i class="fa fa-caret-right"></i>
    </a>

  </div>

  <div class="end">
  </div>
</div>