<head>
  <%= stylesheet_link_tag 'manager', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="right">
  <h1>
     Management Account
  </h1>
  <div class="search managerAccount">
    <%= form_tag search_courses_path, :html => { :onsubmit => "checkInput()" }, class: "search", method: :get do %>
      <%= text_field_tag 'q', params[:q], placeholder: "Search a Courses...", required: true,:id => 'input', autocomplete: "off" %>
      <button onclick="removeSpace()" type="submit">
        <%= image_tag("search.png") %>
      </button>
    <% end %>
  </div>
  <table>
    <tr>
      <th>Account ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Created At</th>
      <th>Active</th>
    </tr>
    <% @customer.each do |customer| %>
      <tr>
        <td><%=customer.id%></td>
        <td><%= customer.email %></td>
        <td><%= customer.name %></td>
        <%if customer.role_id == 1 %>
          <td>Admin</td>
          <% elsif customer.role_id == 2%>
          <td>Mentor</td>
          <% else  %>
          <td>Student</td>
          <% end %>
        <td><%= customer.created_at %></td>
        <td>
          <%if customer.is_active%>
            <%= link_to "Disable", deactivate_path(id: customer) ,method: :post,remote: true, class: "disable" %>
          <%else%>
            <%= link_to "Enable", deactivate_path(id: customer) ,method: :post,remote: true, class: "enable" %>
          <%end%>
        </td>
      </tr>
    <% end %>

  </table>

  <div class="paging">

    <% if @customer.ids.count > 10 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>
  <div class="end">
  </div>
</div>
<script>
    function removeSpace() {
        document.getElementById('input').value =
            document.getElementById('input').value.trim();
    }

    function checkInput() {
        if (document.getElementById('input').value.trim() == "") {
            return false;
        }
        return true;
    }
</script>

