<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @user_info.role_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user_info.phone_number %>
</p>

<p>
  <strong>Roll number:</strong>
  <%= @user_info.roll_number %>
</p>

<p>
  <strong>Avata:</strong>
  <%= @user_info.avata %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @user_info.is_active %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
