<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @user.PhoneNumber %>
</p>

<p>
  <strong>Rollnumber:</strong>
  <%= @user.RollNumber %>
</p>

<p>
  <strong>Roleid:</strong>
  <%= @user.RoleID %>
</p>

<p>
  <strong>Avata:</strong>
  <%= @user.Avata %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @user.IsActive %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
