<head>
  <title>Edfective.vn - favorite video</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/customers_courses" %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses",class:'active' %>
      </li>
      <li>
        <%= link_to "Favor article", "/customers_articles" %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @archived_course.each do |archived_course| %>
      <div class="per-course">
        <div class="c-left">
          <%= image_tag('course_6.jpg') %>
        </div>
        <div class="c-right">
          <h2><%= link_to archived_course.name, course_path(archived_course.slug) %></h2>
          <%= button_to customers_course_path(archived_course.course_id), method: :put, remote: true do %>
            "Remove archive"
          <% end %>
          <p><%= archived_course.description %></p>
          <p class="name">Author: <%= archived_course.author %></p>
          Date Enrollment : <%= archived_course.enrollment_date.to_s %>
        </div>
      </div>
    <% end %>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
    </div>


  </div>
  <div class="paging">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  </div>
  <div class="end">
  </div>
</div>

</body>

