<head>
  <title>Edfective.vn - favorite video</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/customers_courses" %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses",class:'active' %>
      </li>
      <li>
        <%= link_to "Favor article", "/customers_articles" %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @archived_course.each do |archived_course| %>
      <div class="per-course" id="course_archived<%= archived_course.course_id %>">
        <div class="c-left">
          <%= image_tag('course_6.jpg') %>
        </div>
        <div class="c-right">
          <%= link_to customers_course_path(archived_course.course_id, course_like: true), method: :put, remote: true do %>
            <i class="fa fa-bookmark" id="course_archived<%= archived_course.course_id %>" aria-hidden="true"></i>
          <% end %>
          <h2><%= link_to archived_course.name, course_path(archived_course.slug) %></h2>
          <p><%= archived_course.description %></p>
          <p class="my-name">Author: <%= archived_course.author %></p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="enroll_date">Enroll date: <%= archived_course.enrollment_date%></span>
        </div>
      </div>
    <% end %>

  </div>
  <div class="paging">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  </div>
  <div class="end">
  </div>
</div>

</body>

