<head>
  <%= stylesheet_link_tag 'linhnguyen', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript">
      $(window).load(function () {
          $('#myModal').linhnguyen($('#myModal').data());
      });
  </script>
</head>

<% @user = User.where("id = ?", current_user.id) %>
<%= content_for :page_title, 'User home' %>
<% if @user.first.sign_in_count == 0 %>
  <div id="myModal" class="linhnguyen-modal">
    <%= form_with model: @customer_path, url: add_customer_path_path do |f| %>
      <table>
        <tr>
          <td style="text-align: center">
            Select your career path:
          </td>
          <td>
            <%= f.select :careerpath_id, Careerpath.all.collect { |p| [p.name, p.id] } %>
            <% f.hidden_field :customer_id, :value => current_user.id %>
          </td>
        </tr>
      </table>
      <button onclick="myFunction()" type="submit">Submit</button>
      </div>
    <% end %>
<% end %>
<div #app1 class="right">
  <h1 id="your_course">Your Course</h1>
  <div id="exampleSlider">
    <div id="app1" class="MS-content">
      <% @my_courses_home.each do |my_courses| %>
        <div id="item" class="item">
          <div class="thumbnai">
            <% if !my_courses.image.nil? %>
              <%= cl_image_tag(my_courses.image) %>
            <% else %>
              <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
            <% end %>
          </div>
          <div class="author">
            <div class="icon">
              <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id = ? ", my_courses.course_id) %>
              <% @author.each do |author| %>
                <% if !author.avatar.nil? %>
                  <%= cl_image_tag(author.avatar) %>
                <% else %>
                  <%= image_tag('profile.png') %>
                <% end %>
                </div>
                <div class="title">
                  <div class="name">
                    <%= link_to my_courses.name, course_path(my_courses.course_id) %>
              <% end %>
              </div>
              <p class="status">Progress (<%= my_courses.progression %>%)</p>
              <progress max="100" value="<%= my_courses.progression %>"></progress>
              </div>
              </div>
        </div>
      <% end %>
    </div>
    <div id="MS-controls" class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>

  <h1 >Group</h1>
  <div id="topic" class="topic">
    <% @topic.each do |topic| %>
      <%= link_to topic.name, topic_path(topic.id) %>
    <% end %>
  </div>
  <% if !@cus_path.blank? %>
    <h1>Recommend for you</h1>
    <div id="exampleSlider1">
      <div class="MS-content">
        <% @recommender_course.each do |course| %>
          <div id="item" class="item">
            <div class="thumbnai">
              <% if !course.image.nil? %>
                <%= cl_image_tag(course.image) %>
              <% else %>
                <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
              <% end %>
              <% customer_course = CustomerCourse.where("customer_id = ? AND course_id = ?", current_user.id, course.id) %>
              <% if customer_course.exists? %>
                <% if customer_course.first.is_save == true %>
                  <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                    <i class="fa fa-bookmark" onclick="bookmark(this,123)" id="course_archived<%= course.id %>" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                    <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to add_to_archived_path(course.id), method: :post do %>
                  <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
            <div class="author">
              <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id = ? ", course.id) %>
              <% @author.each do |author| %>
                <div class="icon">
                  <% if !author.avatar.nil? %>
                    <%= cl_image_tag(author.avatar) %>
                  <% else %>
                    <%= image_tag('profile.png') %>
                  <% end %>
                </div>
                <div class="title">
                  <div class="name">
                    <%= link_to course.name, course_path(course.slug) %>
                  </div>
                  <% if !@author.blank? %>
                    <p><%= author.name %></p>
                  <% else %>
                  <% end %>
              <% end %>
              <div class="star">
                <span class="stars " data-rating="<%= course.rate %>" data-num-stars="5"></span>
              </div>
              <% rate = course.rate.to_f %>
              <% (1..rate).each do |i| %>
                <% if rate >= i.floor %>
                  <span class="fa fa-star checked"></span>
                <% end %>
              <% end %>
              <% if rate != rate.floor %>
                <span class="fa fa-star-half-o checked"></span>
              <% end %>
              <% (1..(5 - rate.ceil)).each do %>
                <span class="fa fa-star-o checked"></span>
              <% end %>
              <span>(<%= course.number_enrollment.to_int.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> enroll)</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="MS-controls" id="MS-controls-1">
        <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
        <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
    </div>
  <% end %>
  <h1>Hot course</h1>
  <div id="exampleSlider2">
    <div class="MS-content">
      <% @hot_course.each do |course| %>
        <div id="item" class="item">
          <div class="thumbnai">
            <% if !course.image.nil? %>
              <%= cl_image_tag(course.image) %>
            <% else %>
              <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
            <% end %>
            <% customer_course = CustomerCourse.where("customer_id = ? AND course_id = ?", current_user.id, course.id) %>
            <% if customer_course.exists? %>
              <% if customer_course.first.is_save == true %>
                <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark" onclick="bookmark(this,123)" id="course_archived<%= course.id %>" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to add_to_archived_path(course.id), method: :post do %>
                <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="author">
            <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id = ? ", course.id) %>
            <% @author.each do |author| %>
              <div class="icon">
                <% if !author.avatar.nil? %>
                  <%= cl_image_tag(author.avatar) %>
                <% else %>
                  <%= image_tag('profile.png') %>
                <% end %>
              </div>
              <div class="title">
                <div class="name">
                  <%= link_to course.name, course_path(course.slug) %>
                </div>
                <% if !@author.blank? %>
                  <p><%= author.name %></p>
                <% else %>
                <% end %>
            <% end %>
            <div class="star">
              <span class="stars " data-rating="<%= course.rate %>" data-num-stars="5"></span>
            </div>
            <% rate = course.rate.to_f %>
            <% (1..rate).each do |i| %>
              <% if rate >= i.floor %>
                <span class="fa fa-star checked"></span>
              <% end %>
            <% end %>
            <% if rate != rate.floor %>
              <span class="fa fa-star-half-o checked"></span>
            <% end %>
            <% (1..(5 - rate.ceil)).each do %>
              <span class="fa fa-star-o checked"></span>
            <% end %>
            <span>(<%= course.number_enrollment.to_int.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> enroll)</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <h1>Top course</h1>
  <div id="exampleSlider3">
    <div class="MS-content">
      <% @rate_course.each do |course| %>
        <div id="item" class="item">
          <div class="thumbnai">
            <% if !course.image.nil? %>
              <%= cl_image_tag(course.image) %>
            <% else %>
              <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
            <% end %>
            <% customer_course = CustomerCourse.where("customer_id = ? AND course_id = ?", current_user.id, course.id) %>
            <% if customer_course.exists? %>
              <% if customer_course.first.is_save == true %>
                <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark" onclick="bookmark(this,123)" id="course_archived<%= course.id %>" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to add_to_archived_path(course.id), method: :post do %>
                <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="author">
            <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id = ? ", course.id) %>
            <% @author.each do |author| %>
              <div class="icon">
                <% if !author.avatar.nil? %>
                  <%= cl_image_tag(author.avatar) %>
                <% else %>
                  <%= image_tag('profile.png') %>
                <% end %>
              </div>
              <div class="title">
                <div class="name">
                  <%= link_to course.name, course_path(course.slug) %>
                </div>
                <% if !@author.blank? %>
                  <p><%= author.name %></p>
                <% else %>
                <% end %>
            <% end %>
            <div class="star">
              <span class="stars " data-rating="<%= course.rate %>" data-num-stars="5"></span>
            </div>
            <% rate = course.rate.to_f %>
            <% (1..rate).each do |i| %>
              <% if rate >= i.floor %>
                <span class="fa fa-star checked"></span>
              <% end %>
            <% end %>
            <% if rate != rate.floor %>
              <span class="fa fa-star-half-o checked"></span>
            <% end %>
            <% (1..(5 - rate.ceil)).each do %>
              <span class="fa fa-star-o checked"></span>
            <% end %>
            <span>(<%= course.number_enrollment.to_int.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> enroll)</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <h1>New course</h1>
  <div id="exampleSlider4">
    <div class="MS-content">
      <% @new_course.each do |course| %>
        <div id="item" class="item">
          <div class="thumbnai">
            <% if !course.image.nil? %>
              <%= cl_image_tag(course.image) %>
            <% else %>
              <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
            <% end %>
            <% customer_course = CustomerCourse.where("customer_id = ? AND course_id = ?", current_user.id, course.id) %>
            <% if customer_course.exists? %>
              <% if customer_course.first.is_save == true %>
                <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark" onclick="bookmark(this,123)" id="course_archived<%= course.id %>" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to update_archived_path(course.id), method: :post, remote: true do %>
                  <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to add_to_archived_path(course.id), method: :post do %>
                <i class="fa fa-bookmark-o" onclick="bookmark(this,123)" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="author">
            <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id = ? ", course.id) %>
            <% @author.each do |author| %>
              <div class="icon">
                <% if !author.avatar.nil? %>
                  <%= cl_image_tag(author.avatar) %>
                <% else %>
                  <%= image_tag('profile.png') %>
                <% end %>
              </div>
              <div class="title">
                <div class="name">
                  <%= link_to course.name, course_path(course.slug) %>
                </div>
                <% if !@author.blank? %>
                  <p><%= author.name %></p>
                <% else %>
                <% end %>
            <% end %>
            <div class="star">
              <span class="stars " data-rating="<%= course.rate %>" data-num-stars="5"></span>
            </div>
            <% rate = course.rate.to_f %>
            <% (1..rate).each do |i| %>
              <% if rate >= i.floor %>
                <span class="fa fa-star checked"></span>
              <% end %>
            <% end %>
            <% if rate != rate.floor %>
              <span class="fa fa-star-half-o checked"></span>
            <% end %>
            <% (1..(5 - rate.ceil)).each do %>
              <span class="fa fa-star-o checked"></span>
            <% end %>
            <span> (<%= course.number_enrollment.to_int.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> enroll) </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <h1>Top view article</h1>
  <div id="exampleSlider5">
    <div id="topView" class="MS-content">
      <% @top_view_article.each do |article| %>
        <div id="item" class="item">
          <div class="thumbnai">
            <%= cl_video_tag(article.video) %>
            <% customer_article = CustomerArticle.where("customer_id = ? AND article_id = ?", current_user.id, article.id) %>
            <% if customer_article.exists? %>
              <% if customer_article.first.is_favor == true %>
                <%= link_to update_favor_path(article.id), method: :post, remote: true do %>
                  <i style="color: #14bdee" onclick="heart(this,123)" class="fa fa-heart" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to update_favor_path(article.id), method: :post, remote: true do %>
                  <i style="color: #14bdee" onclick="heart(this,123)" class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to add_to_favor_path(article.id), method: :post do %>
                <i style="color: #14bdee" onclick="heart(this,123)" class="fa fa-heart-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="author">
            <% @course_article_favor = Course.joins(:course_articles).where("article_id IN (?) ", article.id) %>
            <div class="icon">
              <%= image_tag('4.png') %>
            </div>
            <div class="title">
              <div class="name">
                <%= link_to article.title, course_path(@course_article.first.slug) %>
              </div>
              <p>Course: <%= @course_article_favor.first.name %></p>
              <span><%= article.view_number.to_int.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> view<br></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="MS-controls">
      <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
      <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<script>
    function bookmark(bookmark, courseID) {
        var x = bookmark;
        if (x.className === "fa fa-bookmark") {
            x.className = "fa fa-bookmark-o";
        } else {
            x.className = "fa fa-bookmark";
        }
        var app1 = new Vue({
            el: '#app1',
            mounted: function () {
                axios.get('/archive_courses/', {
                    params: {
                        num: courseID
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        });
    }

    function heart(heart, courseID) {
        var x = heart;
        if (x.className === "fa fa-heart") {
            x.className = "fa fa-heart-o";
        } else {
            x.className = "fa fa-heart";
        }
        var app1 = new Vue({
            el: '#app1',
            mounted: function () {
                axios.get('/archive_courses/', {
                    params: {
                        num: courseID
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        });
    }
</script>

<script>
    var amount = <%= @number_enroll.count.to_int %>;
    if (amount <= 4) {
        document.getElementById('MS-controls').style.display = "none";
    }
    if (amount <= 0) {
        document.getElementById('your_course').style.display = "none";
    }
    <% if !@recommender_course.nil? %>
    var amount1 = <%= @recommender_course.count.to_int %>;
    <% else %>
    var amount1 = 4
    <% end %>
    if (amount1 <= 4) {
        document.getElementById('MS-controls-1').style.display = "none";
    }
    if (amount1 <= 0) {
        document.getElementById('your_course-1').style.display = "none";
    }

    var amountLeftSide = 6;
    if (amountLeftSide <= 5) {
        document.getElementsByClassName('show')[0].style.display = "none";
    }
    window.addEventListener('click', function (e) {
        if (!document.getElementById('myBtn').contains(e.target)) {
            document.getElementById('notifications').style.display = "none"
        }
    });

    function myfunction() {
        if (document.getElementById('notifications').style.display == "none" ||
            document.getElementById('notifications').style.display == '') {
            document.getElementById('notifications').style.display = "block"
        } else {
            document.getElementById('notifications').style.display = "none"
        }
    }
</script>

<!--   Initialize element with Multislider-->
<script>
    $('#exampleSlider').multislider({
        interval: 0,
        continuous: false
    });
    $('#exampleSlider1').multislider({
        interval: 0,
        continuous: false

    });
    $('#exampleSlider2').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider3').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider4').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider5').multislider({
        interval: 100000,
        continuous: false

    });
</script>
<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#videoElementID').bind('contextmenu', function () {
            return false;
        });
    });
</script>


