<%= content_for :page_title, 'My course' %>
<body>
<div class="right">
  <% @show_leftside = true%>
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/customers_courses",class:'active' %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses" %>
      </li>
      <li>
        <%= link_to "Favor article", "/customers_articles" %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @my_course_paging.each do |my_course| %>
      <div class="per-course">
        <div class="c-left">
          <% if !my_course.image.nil? %>
            <%= cl_image_tag(my_course.image) %>
          <% else %>
            <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
          <% end %>
        </div>
        <div class="c-right">
          <h2><%= link_to my_course.name, course_path(my_course.slug) %></h2>
          <p>
            <%= my_course.description %>
          </p>
          <p class="my-name">Author: <%= my_course.author %></p>
          <% rate = my_course.rate.to_f %>
          <% (1..rate).each do |i| %>
            <% if rate >= i.floor %>
              <span class="fa fa-star checked"></span>
            <% end %>
          <% end %>
          <% if rate != rate.floor %>
            <span class="fa fa-star-half-o checked"></span>
          <% end %>
          <% (1..(5 - rate.ceil)).each do %>
            <span class="fa fa-star-o checked"></span>
          <% end %>
          <span class="enroll_date">Enroll date: <%= my_course.enrollment_date%></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paging">
    <% if @my_courses.ids.count > 5 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>

  <div class="end">
  </div>
</div>
</body>
