<div id="header">
  <div class="menu">
    <div class="logo">
      <% if !current_user.present? %>
        <a href="/home">
          <%= image_tag("logo_1.PNG") %>
          <span>Edfective</span><span style="color: #14bdee;">ly</span>
        </a>
      <% else %>
        <a href="/user-home">
          <%= image_tag("logo_1.PNG") %>
          <span>Edfective</span><span style="color: #14bdee;">ly</span>
        </a>
      <% end %>
    </div>

    <%= form_tag search_courses_path, :html => { :onsubmit => "checkInput()" }, class: "search", method: :get do %>
      <%= text_field_tag 'q', params[:q], placeholder: "Search a Courses...", required: true,:id => 'input', autocomplete: "off" %>
      <button onclick="removeSpace()" type="submit">
        <%= image_tag("search.png") %>
      </button>
    <% end %>
    <% if !current_user.present? %>
      <div class="user">
        <a class="login" href="/users/sign_in">Sign in</a>
        <a class="signup" href="/users/sign_up">Sign up</a>
      </div>
    <% else %>
      <div class="user">
        <a href="#">
          <i class="fa fa-bell"></i>
        </a>
        <%= link_to profile_path do %>
          <% customer = current_user.customer %>
          <% if !customer.avatar.nil? %>
            <%= cl_image_tag(customer.avatar, :height=>100, :width=>50)  %>
          <% else %>
            <%= cl_image_tag('gshyksf1iqjf7ianfp5t.png', :height=>100, :width=>50)%>
          <% end %>
          <a href="" class="profile"></a>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
<script>
    function removeSpace() {
        document.getElementById('input').value =
            document.getElementById('input').value.trim();
    }

    function checkInput() {
        if (document.getElementById('input').value.trim() == "") {
            return false;
        }
        return true;
    }
</script>