<div id="header">
  <div class="menu">
    <div class="logo">
      <% if !current_user.present? %>
        <a href="/home">
          <%= image_tag("logo_1.PNG") %>
          <span>Edfective</span><span style="color: #14bdee;">ly</span>
        </a>
      <% else %>
        <a href="/user-home">
          <%= image_tag("logo_1.PNG") %>
          <span>Edfective</span><span style="color: #14bdee;">ly</span>
        </a>
      <% end %>
    </div>

    <%= form_tag search_courses_path, class: "search", method: :get do %>
      <%= text_field_tag 'q', params[:q], placeholder: "Search a Courses...", required: true, autocomplete: "off" %>
      <button type="submit">
        <%= image_tag("search.png") %>
      </button>
    <% end %>

    <% if !current_user.present? %>
      <div class="user">
        <a class="login" href="/users/sign_in">Sign in</a>
        <a class="signup" href="/users/sign_up">Sign up</a>
      </div>
    <% else %>
      <div class="user">
        <a href="/profile">
          <i class="fa fa-bell"></i>
        </a>
        <a href="profile.html" class="profile"><%= image_tag('1.jpg') %></a>
        <%= link_to "Logout" , destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>