<div class="left">
  <h2>Menu</h2>
  <ul class="top">
    <li>
      <% if !current_user.present? %>
        <a onclick="myFunction()" href="/home">
          <i class="fa fa-home"></i> Home Page
        </a>
      <% else %>
        <a onclick="myFunction()" href="/user-home">
          <i class="fa fa-home"></i> Home Page
        </a>
      <% end %>
    </li>
    <% if !current_user.present? %>
      <li>
        <%= link_to new_user_session_path do %>
          <i class="fa fa-user-circle-o"></i> Sign in
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <i class="fa fa-user-circle-o"></i> Sign up
        <% end %>
      </li>
    <% else %>
      <li>
        <a onclick="myFunction()" href="/customers_courses">
          <i class="fa fa-user-circle-o"></i> My Course
        </a>
      </li>
    <% end %>

    <% if current_user.present? %>
      <% current_role = Customer.where("user_id = ? AND role_id = 2", current_user.id) %>
      <% if !current_role.blank? %>
        <li>
          <%= link_to mentor_courses_path do %>
            <i class="fa fa-user-circle-o"></i> Switch Mentor
          <% end %>
        </li>
        <li>
          <%= link_to '/user-home' do %>
            <i class="fa fa-user-circle-o"></i> Switch User
          <% end %>
        </li>
      <% else %>
      <% end %>
    <% else %>
    <% end %>
  </ul>
  <% if current_user.present? %>
    <h2>Follow</h2>
    <ul class="top">
      <% course.each do |a| %>
        <li>
          <%= link_to course_path(a.slug) do %>
            <i class="fa fa-graduation-cap"></i>
            <%= a.name %>
          <% end %>
        </li>
      <% end %>
      <li class="show" onclick="showMore()">
        <a href="/customers_courses">
          <i class="fa fa-sort-down"></i>Show all
        </a>
      </li>
    </ul>
  <% end %>
  <% if !current_user.present? %>
    <h2>Groups</h2>
    <ul class="top">
      <% data.each do |c| %>
        <li>
          <%= link_to topic_path(c.slug) do %>
            <i class="fa fa-graduation-cap"></i>
            <%= c.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
  <% end %>
</div>
<script>
  <% if current_user.present? %>
  <%  @number_enroll = CustomerCourse.where('customer_id = ? AND customer_courses.enrollment_date IS NOT null', current_user.id) %>
    var amountLeftSide =  <%=  @number_enroll.count.to_int %>;
  <% else %>
  var amountLeftSide = 6
  <% end %>
    var size = 1;
    if(amountLeftSide <= 5 * size){
        document.getElementsByClassName('show')[0].style.display = "none";
    }

    function showMore() {
        size++;
    }
</script>