<head>
  <%= content_for :page_title, 'My profile' %>
  <%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= cloudinary_js_config %>
</head>

<div class="right">
  <div class="profile-page">
    <% form_for @customer do |f| %>
      <div class="avatar">
        <button id="upload_widget" class="cloudinary-button">Upload avatar</button>
      </div>
      <table>
        <tr>
          <th><%= f.label :name,  'Name: ' %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :phone_number,  'Phone Number: ' %></th>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            Active
            <i class="fa fa-check-circle" style="color: deepskyblue;"></i>
          </td>
        </tr>
    <% end %>
    </table>
    <a class="logout" href="homepage.html">Log out</a>

  </div>

  <div class="end">
  </div>
</div>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script>
    cloudinary.setCloudName("dolv9j3dz");
</script>
<script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget({
            cloudName: 'dolv9j3dz', apiKey: '233187518769819',
            uploadPreset: 'yfd3tn0d'
        }, (error, result) => {
            if (!error && result && result.event === "success") {
                // console.log('Done! Here is the image info: ', result.info.url);
                var url_link = result.info.url;
                var lastIndex = url_link.lastIndexOf('/');
                var link_image = url_link.substring(lastIndex + 1);
                console.log(link_image)
            }
        }
    )
    document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
    }, false);

</script>
<script type="text/javascript">
    $('#upload_widget_opener').cloudinary_upload_widget({
        cloudName: cloudName, apiKey: api_key,
        cropping: true, uploadSignature: generateSignature
    }, (error, result) => {
    });
</script>



