<!--<p id="notice"><%#= notice %></p>-->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <%= render "layouts/header" %>
  <div class="main">
    <%= render partial: "layouts/left_side", locals: {courses: @left_side_courses} %>
    <div class="right">
      <h1>Your Course</h1>
      <div id="exampleSlider">
        <div id="app1" class="MS-content">
          <div id="item" class="item">
            <div class="thumbnai">
              <a href="watch.html"> <img src="../images/java_script.jpg"></a>
            </div>
            <div class="author">
              <div class="icon">
                <!--                <img src="../image/2.jpg" alt="">-->
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p class="status">Progress (80%)</p>
                <progress max="100" value="80">
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <a href="watch.html"> <img src="../images/java_script.jpg"></a>
            </div>
            <div class="author">
              <div class="icon">
                <!--                <img src="../image/2.jpg" alt="">-->
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p class="status">Progress (80%)</p>
                <progress max="100" value="80">
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <a href="watch.html"> <img src="../images/java_script.jpg"></a>
            </div>
            <div class="author">
              <div class="icon">
                <!--                <img src="../image/2.jpg" alt="">-->
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p class="status">Progress (80%)</p>
                <progress max="100" value="80">
              </div>
            </div>
          </div>

          <div id="item" class="item">
            <div class="thumbnai">
              <a href="watch.html">
                <%= image_tag('java_script.jpg') %>
              </a>
            </div>
            <div class="author">
              <div class="icon">
                <!--                <img src="../image/2.jpg" alt="">-->
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p class="status">Progress (80%)</p>
                <progress max="100" value="80">
              </div>
            </div>
          </div>

          <div id="item" class="item">
            <div class="thumbnai">
              <!--              <a href="watch.html"> <img src="../images/java_script.jpg"></a>-->
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p class="status">Progress (80%)</p>
                <progress max="100" value="80">
              </div>
            </div>
          </div>
        </div>
        <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </div>
      <h1>Topic</h1>
      <div id="topic" class="topic">
        <a href="#">Java</a>
        <a href="#">C</a>
        <a href="#">C#</a>
        <a href="#">Business</a>
        <a href="#">Language</a>
        <a href="#">Stock</a>
        <a href="#">Front - end</a>
        <a href="#">Js frame work</a>
      </div>
      <h1>Recommend for you</h1>
      <div id="exampleSlider1">
        <div id="top" class="MS-content">
          <div id="item" class="item">
            <div class="thumbnai">
              <%= image_tag('java.png') %>
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>

        </div>
        <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </div>
      <h1>Top Course</h1>
      <div id="exampleSlider2">
        <div id="top" class="MS-content">
          <div id="item" class="item">
            <div class="thumbnai">
              <%= image_tag('khoa_Hoc4.png') %>
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>

        </div>
        <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </div>
      <h1>News Course</h1>
      <div id="exampleSlider3">
        <div id="top" class="MS-content">
          <div id="item" class="item">
            <div class="thumbnai">
              <%= image_tag('khoa_hoc_2.jpg') %>
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>
          <div id="item" class="item">
            <div class="thumbnai">
              <img src="../images/khoa_Hoc4.png" alt="">
            </div>
            <div class="author">
              <div class="icon">
                <img src="../image/2.jpg" alt="">
              </div>
              <div class="title">
                <div class="name">
                  Thiết kế Website bán hàng 1
                </div>
                <p>Trịnh Hoàn</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span>(100 enroll)</span>
              </div>
            </div>
          </div>

        </div>
        <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="end">
      </div>
    </div>

  </div>

</div>

<!-- <script src="../js/video.js"></script> -->
<script src="../js/jquery-2.2.4.min.js"></script>

<!-- Include Multislider -->
<script src="../js/multislider.min.js"></script>

<!-- Initialize element with Multislider -->
<script>
    $('#exampleSlider').multislider({
        interval: 100000,
        continuous: false
    });
    $('#exampleSlider1').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider2').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider3').multislider({
        interval: 100000,
        continuous: false

    });
    $('#exampleSlider4').multislider({
        interval: 100000,
        continuous: false

    });

</script>


</html>








<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>User</th>-->
<!--      <th>Role</th>-->
<!--      <th>Name</th>-->
<!--      <th>Phone number</th>-->
<!--      <th>Roll number</th>-->
<!--      <th>Is active</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<%# @customers.each do |customer| %>
<!--      <tr>-->
<!--        <td><%#= customer.user_id %></td>-->
<!--        <td><%#= customer.role_id %></td>-->
<!--        <td><%#= customer.name %></td>-->
<!--        <td><%#= customer.phone_number %></td>-->
<!--        <td><%#= customer.roll_number %></td>-->
<!--        <td><%#= customer.is_active %></td>-->
<!--        <td><%#= link_to 'Show', customer %></td>-->
<!--        <td><%#= link_to 'Edit', edit_customer_path(customer) %></td>-->
<!--        <td><%#= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<%#= link_to 'New Customer', new_customer_path %>
