<div class="right">
  <div class="profile-page">
    <% @customer.each do |customer| %>
      <div class="avatar">
        <% if !customer.avatar.nil? %>
          <%= cl_image_tag(customer.avatar) %>
        <% else %>
          <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
        <% end %>
      </div>
      <table>
        <tr>
          <th>Email</th>
          <td><%= customer.email %></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><input type="text" value="Tuan Anh"></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= customer.name %></td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td><%= customer.phone_number %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            Active
            <i class="fa fa-check-circle" style="color: deepskyblue;"></i>
          </td>
        </tr>
        <p><%= link_to "update", edit_customer_path(customer)  %></p>
    <% end %>
    </table>
    <a class="logout" href="homepage.html">Log out</a>


  </div>

  <div class="end">
  </div>
</div>

