<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @customer.user_id %>
</p>

<strong>Avatar:</strong>
<div style="width: 400px; height: auto">
  <%= image_tag(@customer.image, style: 'width:100%') %>
</div>


<p>
  <strong>Role:</strong>
  <%= @customer.role_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Roll number:</strong>
  <%= @customer.roll_number %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @customer.is_active %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
