<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'root', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Rootpage | Effective Future Education</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="super_container">
    <header class="header">
      <!-- Top Bar -->
      <div class="top_bar">
        <div class="top_bar_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                  <ul class="top_bar_contact_list">
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <div>0345-666-656</div>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <div>edfectively@gmail.com</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header Content -->
      <div class="header_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo_container">
                  <a href="#">
                    <div class="logo_text">
                      <%= image_tag('logo_1.PNG') %>Edfective
                      <span>ly</span>
                    </div>
                  </a>
                </div>
                <nav class="main_nav_contaner ml-auto">
                  <ul class="main_nav">
                    <li class="active"><a href="/">Rootpage</a></li>
                    <li><%= link_to 'Sign in', new_user_session_path %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                  </ul>

                </nav>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header Search Panel -->
      <div class="header_search_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                <form action="#" class="header_search_form">
                  <input type="search" class="search_input" placeholder="Search" required="required">
                  <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
      <div class="menu_close_container">
        <div class="menu_close">
          <div></div>
          <div></div>
        </div>
      </div>

      <nav class="menu_nav">
        <ul class="menu_mm">
          <li class="menu_mm"><a href="index.html">Home</a></li>
          <li class="menu_mm"><a href="#">Sign in</a></li>
          <li class="menu_mm"><a href="#">Sign up</a></li>
        </ul>
      </nav>
    </div>

    <!-- Home -->

    <div class="home">
      <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

          <!-- Home Slider Item -->
          <div class="owl-item">
            <div class="home_slider_background"></div>
            <div class="home_slider_content">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="home_slider_title">For every student, every classroom, real results</div>
                    <div class="home_slider_subtitle">Future Of Education Technology</div>
                    <div style="display: flex; justify-content: space-between;
                        width: 400px;" class="home_slider_form_container">
                      <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                        <%= link_to home_path do %>
                         <button type="button" class="home_search_button">Student</button>
                        <% end %>
                      </form>
                      <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                        <%= link_to mentor_courses_path do %>
                          <button type="button" class="home_search_button">Mentor</button>
                        <% end %>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Home Slider Item -->
          <div class="owl-item">
            <div class="home_slider_background"></div>
            <div class="home_slider_content">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="home_slider_title">For every student, every classroom, real results</div>
                    <div class="home_slider_subtitle">Future Of Education Technology</div>
                    <div style="display: flex; justify-content: space-between;
                        width: 400px;" class="home_slider_form_container">
                      <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                        <%= link_to home_path do %>
                          <button type="button" class="home_search_button">Student</button>
                        <% end %>
                      </form>
                      <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                        <%= link_to mentor_courses_path do %>
                          <button type="button" class="home_search_button">Mentor</button>
                        <% end %>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Home Slider Item -->
          <div class="owl-item">
            <div class="home_slider_background"></div>
            <div class="home_slider_content">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="home_slider_title">For every student, every classroom, real results</div>
                    <div class="home_slider_subtitle">Future Of Education Technology</div>
                    <div style="display: flex; justify-content: space-between;
                        width: 400px;" class="home_slider_form_container">
                      <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                        <%= link_to home_path do %>
                          <button type="button" class="home_search_button">Student</button>
                        <% end %>
                      </form>
                      <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                        <%= link_to mentor_courses_path do %>
                          <button type="button" class="home_search_button">Mentor</button>
                        <% end %>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Home Slider Nav -->

      <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>

    <!-- Features -->

    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center">
              <h2 class="section_title">Welcome To Edfectively</h2>
              <div class="section_subtitle">
                <p>Build a deep, solid understanding in programming, math and more</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row features_row">

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><%= image_tag('icon_1.png') %></div>
              <h3 class="feature_title">The Experts</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><%= image_tag('icon_2.png') %></div>
              <h3 class="feature_title">Book & Library</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><%= image_tag('icon_3.png') %></div>
              <h3 class="feature_title">Best Courses</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><%= image_tag('icon_4.png') %></div>
              <h3 class="feature_title">Award & Reward</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Popular Courses -->
    <!-- Counter -->

    <div class="counter">
      <div class="counter_background"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="counter_content">
              <!-- Milestones -->
              <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                <!-- Milestone -->
                <div class="milestone">
                  <div class="milestone_counter" data-end-value="1000">0</div>
                  <div class="milestone_text">User</div>
                </div>

                <!-- Milestone -->
                <div class="milestone">
                  <div class="milestone_counter" data-end-value="900" data-sign-after="k">0</div>
                  <div class="milestone_text">Satisfied</div>
                </div>

                <!-- Milestone -->
                <div class="milestone">
                  <div class="milestone_counter" data-end-value="100" data-sign-after="+">0</div>
                  <div class="milestone_text">Tutors</div>
                </div>

                <!-- Milestone -->
                <div class="milestone">
                  <div class="milestone_counter" data-end-value="10000">0</div>
                  <div class="milestone_text">Articles</div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Events -->

    <div class="events">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center">
              <h2 class="section_title">What member say</h2>
              <div class="section_subtitle">
                <p>
                  The following is the feedback and reviews from students who have been attending edfectively courses
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row events_row">

          <!-- Event -->
          <div class="col-lg-4 event_col">
            <div class="event event_left">
              <div class="event_image"><%= image_tag('event_1.jpg') %></div>
              <div class="event_body d-flex flex-row align-items-start justify-content-start">
                <div class="event_date">
                  <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                    <div class="event_day trans_200">K12</div>
                    <div class="event_month trans_200">FU HL</div>
                  </div>
                </div>
                <div class="event_content">
                  <div class="event_title"><a href="#">Phong Pham k12</a></div>
                  <div class="event_info_container">
                    <div class="event_text">
                      <p>
                        I like self-study at edfectively because the video is very detailed and follows the learning pathway at FPT University. Having extensive and advanced knowledge helps me both improve and consolidate knowledge
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Event -->
          <div class="col-lg-4 event_col">
            <div class="event event_mid">
              <div class="event_image"><%= image_tag('event_2.jpg') %></div>
              <div class="event_body d-flex flex-row align-items-start justify-content-start">
                <div class="event_date">
                  <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                    <div class="event_day trans_200">K12</div>
                    <div class="event_month trans_200">FU HCM</div>
                  </div>
                </div>
                <div class="event_content">
                  <div class="event_title"><a href="#">Hieu cubin</a></div>
                  <div class="event_info_container">
                    <div class="event_text">
                      <p>
                        I have failed a lot of subjects but since being edfectively my level has improved a lot. I learned a lot of knowledge from the web. Especially there are lots of homework videos to help me learn in depth
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Event -->
          <div class="col-lg-4 event_col">
            <div class="event event_right">
              <div class="event_image"><%= image_tag('event_3.jpg') %></div>
              <div class="event_body d-flex flex-row align-items-start justify-content-start">
                <div class="event_date">
                  <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                    <div class="event_day trans_200">K14</div>
                    <div class="event_month trans_200">FU DN</div>
                  </div>
                </div>
                <div class="event_content">
                  <div class="event_title"><a href="#">Chis Tai</a></div>
                  <div class="event_info_container">
                    <div class="event_text">
                      <p>
                        My favorite is edfectively the video recommendation system because it helps me learn more without searching. It is really good because I can learn a few more suitable courses and videos to help me improve my programming and math skills.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Team -->

    <div class="team">
      <div class="team_background parallax-window" data-parallax="scroll" data-image-src="team_background.jpg" data-speed="0.8"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center">
              <h2 class="section_title">The Best Tutors in Edfectively</h2>
              <div class="section_subtitle">
                <p>
                  Here are the instructors with the largest fan base that are rated best
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row team_row">

          <!-- Team Item -->
          <div class="col-lg-3 col-md-6 team_col">
            <div class="team_item">
              <div class="team_image"><%= image_tag('team_1.jpg') %></div>
              <div class="team_body">
                <div class="team_title"><a href="#">Jacke Masito</a></div>
                <div class="team_subtitle">Marketing & Management</div>
                <div class="social_list">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Team Item -->
          <div class="col-lg-3 col-md-6 team_col">
            <div class="team_item">
              <div class="team_image"><%= image_tag('team_2.jpg') %></div>
              <div class="team_body">
                <div class="team_title"><a href="#">William James</a></div>
                <div class="team_subtitle">Designer & Website</div>
                <div class="social_list">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Team Item -->
          <div class="col-lg-3 col-md-6 team_col">
            <div class="team_item">
              <div class="team_image"><%= image_tag('team_3.jpg') %></div>
              <div class="team_body">
                <div class="team_title"><a href="#">John Tyler</a></div>
                <div class="team_subtitle">Quantum mechanics</div>
                <div class="social_list">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Team Item -->
          <div class="col-lg-3 col-md-6 team_col">
            <div class="team_item">
              <div class="team_image"><%= image_tag('team_4.jpg') %></div>
              <div class="team_body">
                <div class="team_title"><a href="#">Veronica Vahn</a></div>
                <div class="team_subtitle">Math & Physics</div>
                <div class="social_list">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest News -->
    <!-- Newsletter -->

    <div class="newsletter">
      <div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="../images/newsletter.jpg" data-speed="0.8"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

              <!-- Newsletter Content -->
              <div class="newsletter_content text-lg-left text-center">
                <div class="newsletter_title">sign up for news and offers</div>
                <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
              </div>

              <!-- Newsletter Form -->
              <div class="newsletter_form_container ml-lg-auto">
                <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                  <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                  <button type="submit" class="newsletter_button">subscribe</button>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
      <div class="footer_background" ></div>
      <div class="container">
        <div class="row footer_row">
          <div class="col">
            <div class="footer_content">
              <div class="row">

                <div class="col-lg-3 footer_col">

                  <!-- Footer About -->
                  <div class="footer_section footer_about">
                    <div class="footer_logo_container">
                      <a href="#">
                        <div class="footer_logo_text">Edfective<span>ly</span></div>
                      </a>
                    </div>
                    <div class="footer_about_text">
                      <p>Best choice, best learning</p>
                    </div>
                    <div class="footer_social">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="col-lg-3 footer_col">

                  <!-- Footer Contact -->
                  <div class="footer_section footer_contact">
                    <div class="footer_title">Contact Us</div>
                    <div class="footer_contact_info">
                      <ul>
                        <li>Email: edfectively@gmail.com</li>
                        <li>Phone: 0345-666-656</li>
                        <li>FPT University - Hoa Lac - Thach That - Ha Noi</li>
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="col-lg-3 footer_col">

                  <!-- Footer links -->
                  <div class="footer_section footer_links">
                    <div class="footer_title">Contact Us</div>
                    <div class="footer_links_container">
                      <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">FAQs</a></li>
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="col-lg-3 footer_col clearfix">

                  <!-- Footer links -->
                  <div class="footer_section footer_mobile">
                    <div class="footer_title">Mobile</div>
                    <div class="footer_mobile_content">
                      <div class="footer_image">
                        <a href="#"><img src="images/mobile_1.png" alt=""></a>
                      </div>
                      <div class="footer_image">
                        <a href="#"><img src="images/mobile_2.png" alt=""></a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row copyright_row">
          <div class="col">
            <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
              <div class="cr_text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </div>
              <div class="ml-lg-auto cr_links">
                <ul class="cr_list">
                  <li><a href="#">Copyright notification</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>