<head>
  <%= stylesheet_link_tag 'upload', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="process">
  <div class="process">
    <%= link_to previous_wizard_path do %>
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    <% end %>
    <a href="#">
      <i class="fa fa-check-circle <%= 'active' if step.to_s == 'landing_page' %>"></i>
    </a>
    <a href="#">
      <i class="fa fa-check-circle <%= 'active' if step.to_s == 'create_content' %>" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-check-circle <%= 'active' if step.to_s == 'over_view' %>" aria-hidden="true"></i>
    </a>
    <%= link_to next_wizard_path do %>
      <i class="fa fa-step-forward" aria-hidden="true"></i>
    <% end %>
  </div>
</div>