<head>
  <%= stylesheet_link_tag 'upload', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<div id="right" class="right">
<%= render "process", step: @step  %>
<h1>Step 2: Create Articles in "<%= @course.name %>"</h1>
  <div id="form_upload" class="form-upload">
    <%= form_with model: @course, html: {:onsubmit =>"myFunction()"}, url: wizard_path, method: :put, class: "form_upload" do |f| %>
      <%= f.fields_for :articles, f.object.articles.build do |ff| %>
          <div class="information-video">
            <div class="per_row_article">
              <div class="row-left">
                <h2>Video</h2>
              </div>
              <div class="row-right">
                <video style="display: none" id="video_upload" width="320" height="240" controls>
                </video>
                <div class="thum">
                  <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                  <p>Upload video</p>
                  <%= ff.file_field :video, :required => true %>
                </div>
              </div>
            </div>
            <div class="per_row_article">
              <div class="row-left">
                <h2>Title</h2>
              </div>
              <div class="row-right">
                <%= ff.text_field :title, class: "title_article", placeholder: "Title",:required => true %>
              </div>
            </div>
            <div class="per_row_article">
              <div class="row-left">
                <h2>Description</h2>
              </div>
              <div class="row-right">
                <%= ff.text_area :description, class: "desc_course", placeholder: "Description", :required => true %>
              </div>
            </div>
            <div class="per_row_article">
              <div class="row-left">
                <h2>Learning Outcomes</h2>
              </div>
              <div class="row-right">
              <%= ff.select :lo_ids, (Lo.by_skill_ids(Skill.by_group_ids(@course.groups.ids))).name_and_id, {}, {:class => "js-example-basic-multiple", :multiple => "multiple"} %>
              </div>
            </div>
            <div class="per_row_article">
              <div class="row-left">
                <h2>Attached file</h2>
              </div>
              <div class="row-right">      
                <%= ff.text_field :link_file_attach, class: "title_article", placeholder: "Link attached file" %>       
              </div>
            </div>
            <%= ff.hidden_field :date_created, value: Time.now %>
            <div class="per_row_article">
              <div class="row-left">
              </div>
              <div class="row-right">      
                <%= f.submit "Save", class: "btn-save"%>
              </div>
            </div>
            </div>
            <% end %>
      <input id="duration" type="hidden" name="article_duration" />
      <%= hidden_field_tag :course_id, params[:course_id] %>
    <% end %>
  </div>
  <div id="list-articles" class="end">
    <% if @course.articles.count > 0 %>
      <h1>List Articles in "<%= @course.name %>"</h1>
    <% end %>
    <%= render 'course', articles: @course.articles %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
  });
  var vid = document.createElement('video');
  $('input[type=file]').change(function () {
    var file = this.files[0];
    const fileType = file['type'];
    const validImageTypes = ['video/mp4'];
    var fileURL = URL.createObjectURL(this.files[0]);
    vid.src = fileURL;
    vid.ondurationchange = function() {
      $('#duration').val(this.duration);
    };
    if (validImageTypes.includes(fileType)) {
      if (file.size > 104857600){
        alert("File size is not allowed bigger than 100Mb");
        this.value = "";
        return false;
      } else {
      }
    }
    else{
      alert(fileType + " is invalid!");
      this.value = "";
      return false;
    }
  });

</script>
<script>
    document.querySelector("input[type=file]")
        .onchange = function(event) {
        let file = event.target.files[0];
        let blobURL = URL.createObjectURL(file);
        document.querySelector("video").src = blobURL;
        document.getElementById('video_upload').style.display = "block";
    }
</script>