<head>
  <title>Edfective.vn - favorite video</title>
  <%= stylesheet_link_tag 'list-course', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="right">
  <h1>
    Webcome back <%= current_user.customer.name  %>
  </h1>
  <a class="btn-save" href="courses/landing_page">
    <i class="fa fa-upload" aria-hidden="true"></i>
    Create course
  </a>
  <br>
  <%index = 0 %>
  <% @mentor_course.each do |mentor_course| %>
    <span>Course name: <%= mentor_course.name %></span>
    <%index= index + 1%>
    <div id="exampleSlider<%=index %>">
      <div class="MS-content">
        <% @list_article_mentor = Article.joins(:course_articles).where('course_id = ?', mentor_course.id).where.not('articles.video.url' => nil).order(:created_at) %>
        <% @list_article_mentor.each do |article| %>
          <div id="item" class="item per_article">
            <div class="article-left">
              <% if !article.video.url.nil? %>
                <%= cl_video_tag(article.video.instance_variable_get(:@public_id)) %>
              <% else %>
                <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
              <% end %>
            </div>
            <div class="article-right">
              <%= link_to article.title, click_on_article_path(mentor_course.slug, article.id) %>
<!--              <p><%#= article.description %></p>-->
            </div>
<!--            <a href="#">-->
<!--              <i class="fa fa-trash" aria-hidden="true"></i>-->
<!--            </a>-->
          </div>
        <% end %>
      </div>
      <% if mentor_course.articles.count > 2 %>
        <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      <% end %>
    </div>
  <% end %>


  <div class="paging paging_upload">
    <%== pagy_nav(@pagy) %>

  </div>

  <div class="end">
  </div>
</div>
<script>
    $('#exampleSlider').multislider({
        interval: 100000,
        continuous: false
    });
    $('#exampleSlider1').multislider({
        interval: 10000,
        continuous: false
    });
    $('#exampleSlider2').multislider({
        interval: 10000,
        continuous: false
    });
    $('#exampleSlider3').multislider({
        interval: 10000,
        continuous: false
    });
    $('#exampleSlider4').multislider({
        interval: 10000,
        continuous: false
    });
    $('#exampleSlider5').multislider({
        interval: 10000,
        continuous: false
    });
</script>
</body>
