<head>
  <%= stylesheet_link_tag 'upload', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<!--  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>-->
<!--  <script>tinymce.init({selector:'textarea'});</script>-->
<!--  <style>-->
<!--    .tox-notifications-container{-->
<!--      display: none;-->
<!--    }-->
<!--      .tox-statusbar__branding{-->
<!--        display: none;-->
<!--      }-->
<!--  </style>-->
</head>
<div class="right">
  <%= render "process", step: @step %>
  <h1>Create Course</h1>
  <%= form_with model: @course, url: wizard_path, method: :put, local: false do |f| %>
    <div class="create_course">
      <div class="per_row">
        <div class="row-left">
          <h2>Image</h2>
        </div>
        <div class="row-right">
          <div class="thum">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p id="selectedFileName">Upload course image</p>
            <%= f.file_field :image, value: @course.image %>
          </div>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
          <h2>Title</h2>
        </div>
        <div class="row-right">
          <%= f.text_field :name, class: "title_article", value: @course.name, :required => true %>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
          <h2>Description</h2>
        </div>
        <div class="row-right">
          <%= f.text_area :description, class: "desc_course",value: @course.description, :required => true %>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
          <h2>Groups</h2>
        </div>
        <div class="row-right">
          <div>
            <%= f.select :group_ids, Group.name_and_id, {}, {:class => "js-example-basic-multiple", :multiple => "multiple"} %>
          </div>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
        </div>
        <div class="row-right">
          <%= f.submit "Continue", class: "btn-save", :onclick => "myFunction();" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="end">
  </div>
</div>



<script>

  $('input[type=file]').change(function () {
    $("#image-preview").attr("src", URL.createObjectURL(event.target.files[0]))
  })

  $(document).ready(function() {
      $('.js-example-basic-multiple').select2();
  });

  var arr=[];
  function resetSkill(){
      var levels = document.getElementsByName('level');
      for (var i = 0; i < levels.length; i++) {
          if (levels[i].checked) {
              levels[i].checked=false;
          }
      }
  }
  function setSkill() {
      var levels = document.getElementsByName('level');
      var level;
      for (var i = 0; i < levels.length; i++) {
          if (levels[i].checked) {
              level = levels[i].value;
          }
      }

      if (level != undefined) {
          var skill = document.getElementById('skill').value;
          if(document.getElementById('skill').selectedIndex==0){
              return;
          }
          var object = {s:skill,l:level};
          for(var i=0; i<arr.length; i++){
              if(skill==arr[i].s && level==arr[i].l){
                  return;
              }
          }
          arr.push(object);
          var tr = document.createElement('tr');
          tr.innerHTML = `
                  <td> <p>${skill}</p></td>
                  <td>
                      <p>${level}</p>
                      </td>
                      <td>
                          <i onclick="removeSkill(this,'${skill}','${level}')" class="fa fa-times" aria-hidden="true"></i>
                      </td>
                  `;
          document.getElementById('table').tBodies[0].appendChild(tr);
      }
  }
  function removeSkill(i,skill,level){

      i.parentNode.parentNode.remove();
      for(var i=0; i<arr.length; i++){
          if(skill==arr[i].s && level==arr[i].l){
              arr.splice(i, 1);
              break;
          }
      }
      resetSkill();
  }
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
  });
</script>
