<% @show_leftside = true%>
<div class="right">
  <%= render "process" %>
  <%= form_with model: @course, url: wizard_path, method: :put do |f| %>
    <div class="create_course">
      <div class="per_row">
        <div class="row-left">
          <h2>Avatar</h2>
        </div>
        <div class="row-right">
          <div class="thum">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p id="selectedFileName">Upload avatar</p>
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
          <h2>Title</h2>
        </div>
        <div class="row-right">
          <%= f.text_field :name, class: "title_article" %>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
          <h2>Description</h2>
        </div>
        <div class="row-right">
          <%= f.text_area :description, class: "desc_course" %>
        </div>
      </div>
      <div class="per_row">
        <div class="row-left">
          <h2>Is free</h2>
        </div>
        <label class="container_input">isFree
          <%= f.check_box :is_free, checked: true %>
          <span class="checkmark"></span>
        </label>
      </div>

      <%= f.fields_for :course_preskills, f.object.course_preskills.build do |ff| %>
        <div class="per_row">
          <div class="row-left">
            <h2>Prerequisites</h2>
          </div>
          <div class="row-right">
            <%= ff.select :skill_id, Skill.name_and_id, {} %>
          </div>
        </div>
      <% end %>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Create course</button>
      </div>
    </div>
  <% end %>
  <div class="end">
  </div>
</div>
