<head>
    <%= stylesheet_link_tag 'list-course', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'upload', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="right">
    <%= render "process", step: @step %>
    <div class="create_course">
        <div class="per_row">
        <div class="row-left">
            <h2>Image</h2>
        </div>
        <div class="row-right">
            <div class="thum-image">
                <%= cl_image_tag(@course.image, :width => 400) %>
            </div>
        </div>
        </div>
        <div class="per_row">
        <div class="row-left">
            <h2>Courses name</h2>
        </div>
        <div class="row-right">
            <textarea disabled onkeyup="countChar(this)" wrap="hard" rows="2" maxlength="300" class="title_article" name="title"><%= @course.name %></textarea>
        </div>
        </div>
        <div class="per_row">
        <div class="row-left">
            <h2>Description</h2>
        </div>
        <div class="row-right">
            <textarea disabled class="desc_course" name="description" maxlength="300"><%= @course.description %></textarea>
        </div>
        </div>
        <div class="per_row">
        <div class="row-left">
            <h2>Groups</h2>
        </div>
        <div class="row-right">
            <textarea disabled class="desc_course" maxlength="300">
                <% @course.groups.each do |group| %>
                    <%= group.name %>
                <% end %>
            </textarea>
        </div>
        </div>
        <div class="per_row">
        <div class="row-left">
            <h2>Learning Outcomes</h2>
        </div>
        <div class="row-right">
            <textarea disabled class="desc_course" maxlength="300">
                <% @course.articles.each do |article| %>
                    <% article.los.each do |lo| %>
                        <%= lo.name %>
                    <% end %>
                <% end %>
            </textarea>
        </div>
        </div>
    </div>
    </form>
    <h2>List article</h2>
    <div id="exampleSlider1">
    <div class="MS-content">
        <% @course.articles.each do |article| %>
            <% if article.title != nil %>
                <div id="item" class="item per_article">
                    <div class="article-left">
                        <% if !article.video.url.nil? %>
                            <%= video_tag article.video.url, 
                            :size => "320x240", :controls => true %>
                        <% else %>
                            <%= cl_video_tag('video/Introduction_to_the_Course_-_Introduction_to_the_Course_-_Coursera_jqhxzg', :effect => "preview", :resource_type => "video") %>
                        <% end %>
                    </div>
                    <div class="article-right">
                        <div href="#">
                            <%= article.title %>
                        </div>
                        <div>
                            <%= article.description %>
                        </div>
                        <div>
                            <% article.los.each do |lo| %>
                            <div> <%= lo.name %> </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <% if @course.articles.count > 2 %>
        <div class="MS-controls">
            <button class="MS-left"><i class="fa fa-chevron-left"></i></button>
            <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    <% end %>
    </div>
    <div class="end">
        <%= link_to "Back", wizard_path(:create_content), class: "btn-save" %>
        <%= link_to "Finish", mentor_courses_path , class: "btn-save" %>
    </div>
</div>

<script>
  $('#exampleSlider1').multislider({
      interval: 100000,
      continuous: false
  });
</script> 