<%= content_for :page_title, 'Favor article' %>
<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/customers_courses" %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses" %>
      </li>
      <li>
        <%= link_to "Favor article", "/customers_articles", class: 'active' %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @favor_article.each do |favor_article| %>
      <div class="per-course" id="article_id<%= favor_article.article_id %>">
        <div class="c-left">
          <% if !favor_article.video.nil? %>
            <%= cl_video_tag(favor_article.video, :effect => "preview", :resource_type => "video") %>
          <% else %>
            <%= image_tag('japanese.png') %>
          <% end %>
        </div>
        <div class="c-right">
          <%= link_to update_favor_path(favor_article.article_id, article_like: true), method: :post, remote: true do %>
            <i class="fa fa-heart" aria-hidden="true"></i>
          <% end %>
          <h2><%= link_to favor_article.title, course_path(@course_article_favor.first.slug) %></h2>
          <p><%= favor_article.description %></p>
          <% if !@author.blank? %>
            <p class="my-name"> Author: <%= @author.first.name %></p>
          <% else %>
          <% end %>
          <p class="video_course">Course: <%= @course_article_favor.first.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paging">
    <% if @favor_articles.ids.count > 5 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>

  <div class="end">
  </div>
</div>

</body>
