<%= content_for :page_title, 'Favor article' %>
<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/customers_courses"%>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses" %>
      </li>
      <li>
        <%= link_to "Favor article", "/customers_articles",class:'active' %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @favor_article.each do |favor_article| %>
      <div class="per-course">
        <div class="c-left">
          <%= image_tag('course_3.jpg') %>
        </div>
        <div class="c-right">
          <h2><%= link_to favor_article.title, course_article_path(favor_article, favor_article.id) %></h2>
          <%= button_to "remove favor", update_favor_path(favor_article.article_id), method: :put, remote: true %>
          <p><%= favor_article.description %></p>
          <p class="my-name">Author: <%= favor_article.author %></p>
        </div>
      </div>
    <% end %>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('course_3.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Các kiểu dữ liệu trong Java</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.

        </p>
        <p class="my-name">Author: Alias</p>
        <p class="video_course">Course: Lập trình Java cơ bản</p>

      </div>
    </div>
  </div>
  <div class="paging">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  </div>

  <div class="end">
  </div>
</div>

</body>
