<%= stylesheet_link_tag 'onLoad', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= content_for :page_title, 'Log In' %>
<div id="loader">
  <span class="fa fa-spinner xoay iconnn"></span>
</div>
<div id="logreg-forms">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin",:onsubmit =>"myFunction()"}) do |f| %>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>

    <% if flash.alert %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<!--      <strong>Login failed!</strong> Wrong username or password-->
      Wrong username or password
    </div>
      <%end %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", id: "inputEmail", class: "form-control", placeholder: "Email address", required: "", autofocus: "" %>
    <%= f.password_field :password, autocomplete: "current-password", type: "password", id: "inputPassword", class: "form-control", placeholder: "Password", required: "" %>
    <% if devise_mapping.rememberable? %>
      <div style="margin-top: 15px" class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <%= button_tag(:class => "btn btn-primary btn-block") do %>
      <i class="fas fa-sign-in-alt"></i> Sign in
    <% end %>
    <%= link_to new_password_path(resource_name) do %>
      Forgot password?
    <% end %>
    <hr>

    <%= link_to new_registration_path(resource_name), {:style=>'text-decoration:none;'} do %>
      <button class="btn btn-primary btn-block" type="button" id="btn-signup">
        <i class="fas fa-user-plus"></i>Create Account
      </button>
    <% end %>
  <% end %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    function myFunction() {
        document.getElementById("loader").classList.add("loader");
        document.getElementById("loader").style.display="block";
    }
    document.getElementById("loader").style.display="none";
</script>
