<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">

    <%= form.label :thumbnail %>
    <%= form.file_field :image  %>

  </div>

  <p>
    <% if @course.image.attached? %>
      <%= form_for @course do |f| %>
        <%= f.fields_for :avatar_attachment_attributes do |avatar_form| %>
          <%= avatar_form.hidden_field :id, value: @course.image.id %>
          <%= avatar_form.hidden_field :_destroy, value: true %>
        <% end %>
        <%= f.submit "Delete avatar" %>
      <% end %>
    <% end %>
  </p>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :is_free %>
    <%= form.check_box :is_free %>
  </div>

  <div class="field">
    <%= form.label :is_save %>
    <%= form.check_box :is_save %>
  </div>

  <div class="field">
    <%= form.label :is_owner %>
    <%= form.check_box :is_owner %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :number_enrollment %>
    <%= form.number_field :number_enrollment %>
  </div>

  <div class="field">
    <%= form.label :enrollment_date %>
    <%= form.date_select :enrollment_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
