<head>
  <meta charset='utf-8'>
  <title>Edfective.vn - favorite video</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/mycourses" %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses", style: "color: #F69B58" %>
      </li>
      <li>
        <%= link_to "Favor article", "/favor-articles" %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @archived_course.each do |archived_course| %>
      <div class="per-course">
        <div class="c-left">
          <%= image_tag('course_6.jpg') %>
        </div>
        <div class="c-right">
          <h2><%= link_to archived_course.name, course_article_path(archived_course, archived_course.id) %></h2>

          <%= button_to update_archived_path(archived_course.id), method: :put, remote: true do %>
            "archive"
            <% end %>
          <%#= link_to archived_course.is_save == true ? "yes" : "no" , update_archived_path, :class => 'item' %>

          <%#= image_tag('nosave.png',  style: 'height:10%; width:auto') %>

          <p><%= archived_course.description %></p>

          <p class="name">Author: <%= archived_course.author %></p>


        </div>
      </div>
    <% end %>
  </div>
  <div class="paging">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  </div>
  <div class="end">
  </div>
</div>

</body>

