<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Is free</th>
      <th>Is save</th>
      <th>Is owner</th>
      <th>Rate</th>
      <th>Number enrollment</th>
      <th>Enrollment date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.image %></td>
        <td><%= course.description %></td>
        <td><%= course.is_free %></td>
        <td><%= course.is_save %></td>
        <td><%= course.is_owner %></td>
        <td><%= course.rate %></td>
        <td><%= course.number_enrollment %></td>
        <td><%= course.enrollment_date %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
