<head>
  <meta charset='utf-8'>
  <title>Edfective.vn - favorite video</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/mycourses",class: 'active' %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses" %>
      </li>
      <li>
        <%= link_to "Favor article", "/favor_articles" %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>
        <p class="name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>
        <p class="name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>
        <p class="name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>
        <p class="name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

      </div>
    </div>
    <div class="per-course">
      <div class="c-left">
        <a href="#">
          <%= image_tag('khoa_hoc_2.jpg') %>
        </a>
      </div>
      <div class="c-right">
        <a href="#">
          <i class="fa fa-bookmark" aria-hidden="true"></i>
        </a>
        <a href="#">
          <h2>Lập trình java cơ bản</h2>
        </a>
        <p>
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>
        <p class="name">Author: Alias</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

      </div>
    </div>
  </div>
  <div class="paging">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>

  </div>

  <div class="end">
  </div>
</div>
</body>
