<head>
  <meta charset='utf-8'>
  <title>Edfective.vn - favorite video</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="right">
  <h1>
    My course
  </h1>
  <div class="menu-course">
    <ul>
      <li>
        <%= link_to "My courses", "/mycourses", style: "color: #F69B58" %>
      </li>
      <li>
        <%= link_to "Archive course", "/archived-courses" %>
      </li>
      <li>
        <%= link_to "Favor article", "/favor-articles" %>
      </li>
    </ul>
  </div>
  <div class="list-course">
    <% @my_courses.each do |my_course| %>
    <div class="per-course">
      <div class="c-left">
        <%= image_tag('course_2.jpg') %>
      </div>
      <div class="c-right">
        <h2><%= link_to my_course.name, course_article_path(my_course ,my_course.slug) %></h2>
        <p>
          <%= my_course.description %>

        </p>
        <p class="name">Author: <%= my_course.author %></p>
        <p class="video_course">Course: <%= my_course.name %></p>

      </div>
    </div>
<% end %>
  </div>
  <div class="paging">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>

  </div>

  <div class="end">
  </div>
</div>
</body>
