<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>link course image:</strong>
  <%= @course.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @course.rating %>
</p>

<p>
  <strong>Isfree:</strong>
  <%= @course.is_free %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
