<p id="notice"><%= notice %></p>

<p>
  <strong>Coursename:</strong>
  <%= @course.courseName %>
</p>

<p>
  <strong>Courseimage:</strong>
  <%= @course.courseImage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @course.rating %>
</p>

<p>
  <strong>Isfree:</strong>
  <%= @course.isFree %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
