<head>

  <%= stylesheet_link_tag 'course_detail', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'course_detail', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="right">
  <div class="top">
    <h1><%= @course.name %></h1>
    <span>by</span>
    <% @author = Customer.joins(:customer_courses).where("is_owner = true AND course_id IN (?)  ", @course.id) %>
    <% @author.each do |author| %>
      <span><%= author.name %></span>
    <% end %>

    <div class="intro">
      <% if !@course.image.nil? %>
        <%= cl_image_tag(@course.image) %>
      <% else %>
        <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
      <% end %>
      <span id="des" onclick="showmore()"><%= @course.description %><br></span>
      <br>
      ● Students: <%= @course.number_enrollment %>
      <br>
      ● Rating: <%= @course.rate %><br>
      ● Duration: <%= @course.duration %> hours on-demand video
      <br>
        <h2>Requirements</h2>
        <% @lo_req.each do |lo_req| %>
          <h>● <%= lo_req.name %></h>
          <br>
      <% end %>
    </div>
    <% if current_user.present? %>
      <% check_archived_course = CustomerCourse.where('customer_id = ? AND course_id = ? AND enrollment_date IS NOT null', current_user.id, @course.id) %>
      <% if check_archived_course.blank? %>
      <% else %>
        <!--       user enrolled in course-->
        <% check_archived_course.each do |course_detail| %>
          <p>Progress(<%= course_detail.progression %>%)</p>
          <progress max="100" value="<%= course_detail.progression %>"></progress>
        <% end %>
      <% end %>
    <% end %>
    <%= button_to enroll_to_course_path(@course.id), method: :post do %>
      Start learn
    <% end %>
    <div class="skill_set">
      <h2>Skill set</h2>
      <ul>
        <% @skill.each do |skill| %>
          <li>
            <span class="out_side_level">
              <%= skill.name %>
                </span>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="buttom">
    <h2>List Article in '<%= @course.name %>'</h2>
    <% @list_article_paging.each do |a| %>
      <div class="per-course">
        <div class="c-left">
          <a href="#">
            <% if !a.video.nil? %>
              <%= cl_video_tag(a.video, :effect => "preview", :resource_type => "video") %>
            <% else %>
              <%= cl_video_tag('video/Introduction_to_the_Course_-_Introduction_to_the_Course_-_Coursera_jqhxzg', :effect => "preview", :resource_type => "video") %>
            <% end %>
          </a>
        </div>
        <div class="c-right">
          <%= link_to a.title, click_on_article_path(@course, a.id) %>
          <span>
          <%= a.description %>
        </span>
        </div>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </div>
    <% end %>
  </div>
  <div class="paging">
    <% if @list_articles.ids.count > 5 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>
  <div class="end">
  </div>
</div>
<script>
    var count = -1;
    <% @list_article_paging.each do | full | %>
    count++;
    <%   if current_user.present? %>
    <% @list_article_viewed.each do |view| %>
    <% if view.article_id == full.id %>
    document.querySelectorAll('.fa-check-circle')[count].style.display = 'inline-block';
    <% end %>
    <% end %>
    <% end %>
    <% end %>

    function showmore() {
        if (document.getElementById('des').style.webkitLineClamp == "inherit") {
            document.getElementById('des').style.webkitLineClamp = "12";
        } else {
            document.getElementById('des').style.webkitLineClamp = "inherit";
        }

    }
</script>

<script>

</script>

<script>
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
</script>






