<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<strong>Thumbnail:</strong>
<div style="width: 400px; height: auto">
  <%= image_tag @course.image if @course.image.attached? %>
</div>

<%#= image_tag url_for(@course.image) %>
<%#= link_to @course.image.filename, rails_blob_path(@post.cover_photo, disposition: "attachment") %>

<%#= form.file_field :image, multiple: true, direct_upload: true %>

<!--<div>-->
<%# @course.image.each do |file| %>
<!--    <div>-->
<%#= image_tag file.preview(resize: "100x100>") %>
<!--    </div>-->
<%# end %>
<!--</div>-->

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Is free:</strong>
  <%= @course.is_free %>
</p>

<p>
  <strong>Is save:</strong>
  <%= @course.is_save %>
</p>

<p>
  <strong>Is owner:</strong>
  <%= @course.is_owner %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @course.rate %>
</p>

<p>
  <strong>Number enrollment:</strong>
  <%= @course.number_enrollment %>
</p>

<p>
  <strong>Enrollment date:</strong>
  <%= @course.enrollment_date %>
</p>


<!--<%#= link_to 'Edit', edit_course_path(@course) %> |-->
<%= link_to 'Back', courses_path %>
<%= link_to 'View article',  articles_path %>


<%= render 'form_enroll', course: @course %>
