<head>

  <%= stylesheet_link_tag 'manager_video', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<div class="right">
  <h1>
    Article management
  </h1>
  <div class="search managerAccount">
    <form action="#">
      <input type="text" placeholder="Search course">
      <button type="submit">
        <%= image_tag("search.png") %>
      </button>
    </form>
  </div>
  <table>
    <tr>
      <th>Courses</th>
      <th>Disable</th>
    </tr>
    <tr>

      <% @course_paging.each do |course| %>
        <td>
          <div class="per-course">
            <div class="c-left">
              <a href="#">
                <% if !course.image.nil? %>
                  <%= cl_image_tag(course.image) %>
                <% else %>
                  <%= cl_image_tag('img/some-tips-to-understand-the-need-of-education-erp-software-blog-image564276_ggsimy.png') %>
                <% end %>
              </a>
            </div>
            <div class="c-right">
              <h2>
                <a href="#"><%= course.name %></a>
              </h2>
              <span><%= course.description %></span>
            </div>
          </div>
        </td>
        <td>
          <a class="disable" href="#">Disable</a>
        </td>
        </tr>
      <% end %>

      </table>

  <div class="paging">
    <% if @course.ids.count > 5 %>
      <%== pagy_nav(@pagy) %>
    <% else %>
    <% end %>
  </div>

  <div class="end">
  </div>
</div>
