<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Edfective.vn - Homepage</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div class="container">
  <%= render "shared/header" %>
  <div class="main">
    <% if !@article_detail.present? %>
    <%= render partial: "shared/left_side", locals: {data: @data, course: @my_courses}  %>
      <% end %>
  <%= yield %>
  </div>
  <div id="footer">
  </div>
</div>
</body>
</html>
